
@{
    ViewBag.Title = "_GridTest";
}


<h2>GridTest</h2>
<link rel="stylesheet" href="~/Content/slick.grid.css" type="text/css" />
<link rel="stylesheet" href="~/Models/custom.css" type="text/css" />
<link rel="stylesheet" href="~/Models/examples.css" type="text/css" />
<table width="100%">
    <tr>
        <td valign="top" width="50%">
            <div id="myGrid" style="width:600px;height:500px;"></div>
        </td>

    </tr>
</table>