
@{
    ViewBag.Title = "_RegisterUser";
}

<form role="form" name="registration">
    
    
    <div class="form-group" id="userList">
        <p>
            <label for="Name">Name</label>
            <input id="Name" type="text" class="form-control" data-bind="value: Name" />
            <span class="nameError"></span>
        </p>

    </div>

    <div class="form-group">
        <p>
            <label for="Address">Address</label>
            <input id="Address" type="text" class="form-control" data-bind="value: Address" />
            <span class="addressError"></span>
        </p>
    </div>

    <div class="form-group">
        <p>
            <label for="Age">Age</label>
            <input id="Age" type="number" class="form-control" data-bind="value: Age" />
            <span class="ageError"></span>
        </p>
    </div>

    <div class="form-group">
        <label for="Gender">Gender</label>
        <select id="Gender" class="form-control" data-bind="options: genders, value: Gender"></select>

    </div>

    <div class="form-group">
        <p>
            <label for="PhoneNumber">Contact Number</label>
            <input id="PhoneNumber" class="form-control" required="required" data-bind="value: PhoneNumber" />
            <span class="numberError"></span>
        </p>
    </div>
</form>

<input type="button" id="btnAddUser" class="btn btn-primary" value="Add User" data-bind="click: addUser" /> 

