@{
    ViewBag.Title = "User Register";
}
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/jquery-2.2.2.min.js"></script>
<script src="~/Scripts/jquery.event.drag.js"></script>
<script src="~/Scripts/jquery-ui-1.8.11.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/SlickGrid/slick.core.js"></script>
<script src="~/Scripts/SlickGrid/slick.grid.js"></script>
<script src="~/Scripts/SlickGrid/slick.dataview.js"></script>
<script src="~/Scripts/SlickGrid/Controls/slick.pager.js"></script>
<script src="~/Scripts/SlickGrid/Plugins/slick.rowselectionmodel.js"></script>
<script src="~/Scripts/UserRegisterViewModel.js"></script>
<div class="page-header">
    <h2 class="text-center">User Registration</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Register new User</h2>
            </div>
            <div class="panel-body" data-bind="with: addUserViewModel">
                @Html.Partial("_RegisterUser")
            </div>
        </div>
    </div>



    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Search Users</h2>
            </div>
            <div class="panel-body" data-bind="with: searchViewModel">
                @Html.Partial("_SearchResult")
            </div>

        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Grid Users</h2>
            </div>
            <div class="panel-body">
                @Html.Partial("_GridTest")
            </div>
        </div>
    </div>  
</div>
